
<div ng-controller="layouts.ApplicationController" class="l-standard">



	<!-- BEGIN: Layout Container. -->
	<div class="l-container">


		<!-- BEGIN: Layout Header. -->
		<div class="l-header">

			<span class="title">
				<h3> Welcome to Database Repository </h3>
			</span>

			<ul>
				<!-- Home is never "on" - it's part of a different layout. -->
				<li>
					<a href="#/application">Applications</a>
				</li>
				<li ng-class="{ on: ( subview == 'manageAccounts' ) }">
					<a href="#/manageAccounts">Manage Account</a>
				</li>
				<!-- <li ng-class="{ on: ( subview == 'contact' ) }">
					<a href="#/contact">Contact</a>
				</li> -->
			</ul>

		</div>
		<!-- BEGIN: Layout Header. -->


		<!-- Include Body Content. -->
		<div ng-switch="subview" class="l-body">
			<div ng-switch-when="login" ng-include=" 'assets/app/views/innerNav/welcomePage/index.htm' "></div>
			<div ng-switch-when="application" ng-include=" 'assets/app/views/innerNav/appView/index.htm' "></div>
			<div ng-switch-when="manageAccounts" ng-include=" 'assets/app/views/innerNav/manageAccounts/index.htm' "></div>
		</div>


	</div>
	<!-- END: Layout Container. -->


</div>