
<div ng-controller="home.login">
	<p>
		<h3>Please Login...</h3>
	</p>
    <label class="control-label" for="inputUsername">Username</label>
        <input type="text" id="inputUsername" placeholder="Username" ng-model="inputUsername" ng-change="checkUsername()">
    <br />
    <label class="control-label" for="inputPassword">Password</label>
        <input type="password" id="inputPassword" placeholder="Password" ng-model="inputPassword">
    <br />
    <span class="help-block">{{alertMessage}}</span>

	
	
	<br>
		<a class="btn" href="#/login">Login</a>
		<a class="btn" href="#/signup">Sign Up</a>

	<p>
		Forgot Password?
	</p>


</div>